{% extends "base.html" %}

{% block body %}
<div class="row justify-content-center mt-4">
  <div class="col-12 col-md-8 px-4 px-md-0">
    
    <form class="d-flex flex-row align-items-center m-0 p-0" action="" method="get">
      <input type="text" name="nome" id="id_nome" class="form-control  mx-1 " placeholder="Escreva o nome do parlamentar">    
      <input class="btn btn-secondary mx-1" type="submit" value="Buscar" />
    </form>
    
    {% if 'nome' in request.GET and not parlamentares %} 
      <div class="row justify-content-center">
        <div class="col text-center">
          Nenhum parlamentar encontrado.
        </div>
      </div>
    {% endif %}

    {% for parlamentar in parlamentares %}
      
      <div class="row my-2" style="min-height:200px;">
        <div class="card p-3 bg-light shadow-sm">
          <div class="row no-gutters">
            <div class="col-auto position-relative">
              <img src="{{parlamentar.urlFoto}}" class="img-fluid foto-img shadow-sm" width=100>  
            </div>
            <div class="col">
              
              <h4 class="card-title fs-6"><b>{{parlamentar.nome}}</b></h4>
              <hr>
              
              <div>
                <p class=" card-text m-0"><b>UF:</b> {{parlamentar.siglaUf}}</p>
                <p class="card-text m-0"><b>Partido:</b> {{parlamentar.siglaPartido}}</p>
              </div>
              
              <a href="{% url 'parlamentares:detail' parlamentar.id %}" class="stretched-link"></a>

            </div>
          </div>
        </div>

        
      </div>
    {% endfor %}

  </div>

</div>

{% endblock %}