{% load static %}

{% comment %} Baseado no exemplo: https://www.kite.com/blog/python/django-templates-best-practices/ {% endcomment %}

<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block page_meta %}
        {% endblock %}


        {% block css_imports %}
            <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
            <link href="{% static 'css/base.css'%}" rel="stylesheet" type="text/css">
        {% endblock %}


        {% autoescape off %}
            {% block css %}{% endblock %}
        {% endautoescape %}

        {% block extra_head %}
            {# Extra header stuff (scripts, styles, metadata, etc) #}
        {% endblock %}

        <title>{% block page_title %}Teste Gabinete Compartilhado{% endblock %}</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Teste Gabinete Compartilhado</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'parlamentares:busca' %}">Buscar Palamentares</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'parlamentares:estados' %}">Parlamentares por Estado</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>



        <main>
            <div class="container-sm content-wrapper px-sm-10">
                <div class="row justify-content-center">

                    <div class="col-12 messages">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %} alert-{{ message.tags|parse_bs_alert }}{% endif %} alert-dismissible">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-12">
                        {% block breadcrumb %}
                        {% endblock %}
                    </div>

                    <div class="col-12">
                        {% block submenu %}
                        {% endblock %}
                    </div>

                    <div class="col-12">
                        {% block body %}

                        {% endblock %}
                    </div>
                </div>

            </div>
        </main>


        <footer class="bg-dark">
            

        </footer>

        {# Modal HTML #}
        {% block modals %}

        {% endblock %}

        {# Vendor javascript #}
        {% block js_imports %}
            <script src="{% static 'js/popper.min.js'%}"></script>
            <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
            <script src="{% static 'js/jquery.min.js'%}"></script>
        {% endblock %}
    

        {# Shared data for javascript #}
        <script type="text/javascript">
            window._sharedData = {
                {% autoescape off %}
                    {% block shared_data %}
                        'DEBUG': {% if debug %}true{% else %}false{% endif %},
                    {% endblock %}
                {% endautoescape %}
            }

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })

            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl)
            })
        </script>

        {# Page javascript #}
        {% autoescape off %}
            {% block js %}
            {% endblock %}
        {% endautoescape %}
    </body>
</html>

